* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

.socials > a > img {
  aspect-ratio: 1/1;
  width: 40px;
}
.socials > a {
  margin: 0 10px 0 10px;
}
.socials {
  display: flex;
  justify-content: center;
}

.socials > a:hover > img {
  transform: scale(1.2);
}

h1,
h2,
p,
a {
  font-family: "Poppins", sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
}
#app > div {
  width: fit-content;
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
  backdrop-filter: blur(4px);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("../../src/config/img/background.jpg");
  background-size: cover;
  background-position: center;
}

#document-title {
  color: white;
  font-size: 100px;
}
